.navb{
  height: 130px;
  background-color: #63B4CB;
  border-bottom: solid #3a5796;
}

.App{
  font-family: 'Poppins', sans-serif;
}

.navb2{
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: large;
  font-weight: bolder;
}

hr.solid {
  margin: auto;
  border-top: 3px solid rgb(151, 151, 151);
  margin: auto;
  margin-top: 50px;
  width: 70%;
}

hr.solid2 {
  margin: auto;
  border-top: 4px solid rgb(236, 235, 235);
  margin: auto;
  margin-top: 10px;
  width: 70%;
  margin-bottom: 10px;
}

.logo {
  height: 175px;
  width: 225px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: calc((100% - 195px) / 2);
  z-index: 100000;
  margin-top: 2rem;
}

.hero-image{
  margin-top: 2rem;
  height: 35rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title{
  text-align: center;
  color: #63B4CB;
}

#about, #issues, #candidates{
  text-align: center;
  background-color: #3a5796;
  color: white;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  padding: 10px;
}

.candidate{
  margin-top: 40px;
}

.profile{
  height: 100x;
  width: 100px;
  margin: 0 auto;
}
